@import "tailwindcss";

/* ------------------------------
   TAILWIND V4 THEME TOKENS
--------------------------------*/
@theme {
  --color-background: hsl(232 34% 17%);
  --color-foreground: hsl(192 29% 73%);

  --color-card: hsl(222 84% 8%);
  --color-card-foreground: hsl(210 40% 98%);

  --color-primary: hsl(210 50% 55%);
  --color-primary-foreground: hsl(222 84% 4.9%);

  --color-muted: hsl(217 33% 18%);
  --color-muted-foreground: hsl(215 20% 65%);

  --color-border: hsl(217 33% 22%);
}
